body{
    margin:0 !important;
    margin:0 !important;
    width: 100% !important;
    font-family: Avenir Book ;
}
.row{
    margin-left:0 !important;
    margin-right:0 !important;
}
.chamelon-h1{
    font-weight: 300; 
    text-transform: uppercase; 
    letter-spacing: 4px;
    margin:0;
}
.chamelon-h3{
    font-size:25px;
    margin:1rem 0;
}
.chamelon-about-div{
    background:linear-gradient(83deg, #fac2d9 26%, transparent 48%);
}
.chamelon-bottom-div{
    background: linear-gradient(83deg, transparent 48%, #d3c6df 80%);
    margin-bottom:1rem;
}
.chamelon-left-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.chamelon-right-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.image-yarn{
    max-width:371px;
    margin: 0 auto;
    display:block;
}
.image-yarn-2{
    max-width:371px; 
    margin:0 auto; 
    display:block;
}
.email-sign-up{
    width: 100%; 
    max-width: 700px;
    margin: 0 auto;
    padding:1rem;
}
.yarn-changing-image{
    cursor:pointer;
    transition: opacity .1s;
}
@media (max-width: 769px){
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .image-yarn{
        display: block; 
        margin:0 auto; 
        max-width: 115px; 
        border-radius: 50%; 
        border:2px solid #fac2d9
    }
    .image-yarn-2{
        max-width:148px; 
        border:2px solid #d3c6df; 
        border-radius: 50%;
    }
    .chamelon-about-div, .chamelon-bottom-div{
        background: transparent;
    }
    .chamelon-bottom-div{
        position:relative; 
        margin-bottom:8.8rem;
    }
    .chamelon-left-text{
        margin-top: 6rem; background-color: #fac2d9; padding: .5rem;
    }
    .chamelon-right-text{
        background-color: #d3c6df; padding: .5rem; text-align: center;
    }
    .chamelon-h3{
        font-size: 20px;
        margin:1rem 0;
    }
    .chamelon-h1{
        font-size:20px;
    }
    .chameleon_image{
        position:absolute;
    }
    .chameleon_image-2{
        position:absolute; 
        z-index:1; 
        bottom:-8rem;
    }

}
@media screen and (max-width: 640px) {
    .chamelon-h1{
        font-size: 16px;
    }
    .chamelon-h3{
        font-size: 15px;
    }

}